# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[codz]
*.pyc
*.so
*.egg-info/
*.egg

# Node
node_modules/
dist/
.parcel-cache/

# Env
.env
.env.local
.venv
venv/

# IDE
.vscode/
.idea/

# OMC
.omc/
.gstack/
